@use "../var" as var;
@use "../mixin" as mixs;
@mixin pcBigHeader {
  @include mixs.for-size(big-desktop-up) {
    .logo {
      width: 10%;
      img {
        width: 100%;
      }
      svg {
        display: none;
      }
    }
    nav {
      //   width: 50%;
      display: flex;

      ul {
        margin: 0;
        width: 100%;
        justify-content: center;
        li {
          @include mixs.font(
            var.$font-hind,
            var.$s_PC_BIG21-26,
            500,
            black,
            0,
            0 2em 0 0
          );
          cursor: pointer;
          button {
            @include mixs.font(
              var.$font-hind,
              var.$s_PC_BIG19-24,
              500,
              var.$epesta,
              0.4em 0.9em,
              0
            );
            cursor: pointer;
          }
        }
      }
    }
  }
}

@mixin pcBigMain {
  @include mixs.for-size(big-desktop-up) {
    .main-section {
      margin-top: var.$s_PC_BIG90-120;
      h1 {
        font-size: var.$s_PC_BIG90-105;
      }
      p {
        font-size: var.$s_PC_BIG24-28;
        width: 50%;
      }
    }
    form {
      padding: 0 var.$s_PC_BIG20-30;

      top: var.$s_PC_BIG820-1110;

      input {
        width: 15%;
        @include mixs.font(
          var.$font-taviraj,
          var.$s_PC_BIG21-26,
          500,
          black,
          0.2em,
          0
        );
      }

      select {
        @include mixs.font(
          var.$font-taviraj,
          var.$s_PC_BIG21-26,
          500,
          black,
          0.2em,
          0
        );
      }
      .dzpozic {
        width: 15%;
        font-size: var.$s_PC_BIG21-26;
        button {
          width: 100%;
          @include mixs.button(
            $fs: var.$s_PC_BIG21-26,
            $fem: 0.25em 0,
            $fmar: 0,
            $f-bcl: black,
            $hovcl: var.$epesta,
            $brdius: 0.3em
          );
        }
      }
    }
    .about-cont {
      margin-top: var.$s_PC_BIG180-240;
      article {
        h1 {
          font-size: var.$s_PC_BIG42-49;
          padding-top: 0;
        }
        p {
          font-size: var.$s_PC_BIG21-25;
        }
        button {
          font-size: var.$s_PC_BIG22-26;
        }
      }
      div {
        width: 40%;
        order: 2;
        align-self: flex-start;
        img {
          width: 70%;
          margin-top: 0;
        }
      }
    }
    .rooms-cont {
      .rooms_txtDiv {
        margin-top: var.$s_PC_BIG80-110;
        h1 {
          font-size: var.$s_PC_BIG42-49;
        }
        h3 {
          font-size: var.$s_PC_BIG29-33;
        }
      }
      .rooms_imgDiv {
        margin-bottom: var.$s_PC_BIG80-110;
        justify-content: center;
        gap: 3%;
        figure {
          width: 25%;
          .img {
            .rooms_info {
              .txt_btn {
                aspect-ratio: 1;
                .rms_info_text {
                  h1 {
                    font-size: var.$s_PC_BIG29-33;
                  }
                  p {
                    font-size: var.$s_PC_BIG17-19;
                  }
                  h3 {
                    font-size: var.$s_PC_BIG21-24;
                  }
                }
                .btn_div {
                  button {
                    font-size: var.$s_PC_BIG21-24;
                  }
                }
              }
            }
          }
        }
      }
    }
    .sherbimet-cont {
      .sherbimet_text {
        margin-top: var.$s_PC_BIG80-110;
        h1 {
          font-size: var.$s_PC_BIG42-49;
        }
        h3 {
          font-size: var.$s_PC_BIG29-33;
        }
      }
      .sherbimet_info {
        > img {
          width: 35vw;
        }
        .sherbimet_detail {
          margin-left: var.$s_PC_BIG26-32;
          button {
            font-size: var.$s_PC_BIG12-14;
            width: var.$s_PC_BIG90-115;
          }
          h1 {
            font-size: var.$s_PC_BIG27-31;
          }
          p {
            font-size: var.$s_PC_BIG17-20;
            margin-left: 2.4em;
          }
        }
      }
      .sherbimet_number_info {
        margin-top: var.$s_PC_BIG80-110;
        section {
          div:first-child {
            margin-top: var.$s_PC_BIG55-70;
          }
          div {
            width: 23%;
            margin: var.$s_PC_BIG55-70 0;
            h1 {
              font-size: var.$s_PC_BIG42-49;
            }
            p {
              font-size: var.$s_PC_BIG29-33;
            }
          }
        }
      }
    }
    .caruselCont {
      margin-top: var.$s_PC_BIG80-110;
      .carusel_title {
        h1 {
          font-size: var.$s_PC_BIG42-49;
        }
        h3 {
          margin-top: 0;
          font-size: var.$s_PC_BIG29-33;
        }
      }
      .imazhet-tab-mode {
        justify-content: center;
        gap: 3%;
        img {
          width: 20%;

          margin-bottom: var.$s_PC_BIG40-50;
        }
      }
    }
    .cmimi-cont {
      padding: var.$s_PC_BIG80-110 0 var.$s_PC_BIG80-110 0;
      .cmimi_txt {
        h1 {
          font-size: var.$s_PC_BIG55-70;
        }
        h3 {
          margin-top: 0;
          font-size: var.$s_PC_BIG28-34;
        }
      }
      .cmimi_cards {
        .card_cont {
          width: 25%;
          div:first-child {
            h2 {
              font-size: var.$s_PC_BIG29-33;
            }
            h4 {
              font-size: var.$s_PC_BIG21-25;
            }
          }
          div:last-child {
            h1 {
              font-size: var.$s_PC_BIG27-31;
            }
            button {
              @include mixs.button(
                $fs: var.$s_PC_BIG26-30,

                $fem: 0.2em 2em,
                $fmar: 0 0 1.5em 0,
                $f-bcl: black,
                $hovcl: var.$epesta,
                $brdius: 50em
              );
            }
          }
        }
      }
    }
    .trustedus {
      overflow: hidden;
      width: 100%;
      .slide {
        img {
          width: 15vw;
        }
      }
    }
  }
}

@mixin pcBigFooter {
  @include mixs.for-size(big-desktop-up) {
    margin-top: 0; //var.$s_PC_BIG80-110
    .fot_dvup {
      justify-content: flex-start;
      gap: 3%;
      .location,
      .foot_nav,
      .more_links,
      .social {
        width: auto;
        h1 {
          font-size: var.$s_PC_BIG29-33;
        }
      }
      .location {
        width: 22%;
        margin-left: var.$s_PC_BIG15-17;
      }
      .location {
        p {
          font-size: var.$s_PC_BIG17-19;
          cursor: pointer;
        }
        h3 {
          font-size: var.$s_PC_BIG17-19;
          cursor: pointer;
          svg {
            width: var.$s_PC_BIG17-19;
          }
        }
      }
      .foot_nav,
      .more_links {
        ul {
          li {
            font-size: var.$s_PC_BIG17-19;
            cursor: pointer;
          }
        }
      }
      .social {
        .social_ikons {
          svg {
            width: var.$s_PC_BIG26-30;
            cursor: pointer;
          }
        }
      }
    }
    .foot_dvdown {
      margin-top: var.$s_PC_BIG80-110;
      h3 {
        font-size: var.$s_PC_BIG17-19;
      }
    }
  }
}

@mixin bigPcBody {
  @include mixs.for-size(big-desktop-up) {
    #modal {
      font-size: var.$s_PC_BIG21-26;
      .container {
        .loader {
          width: var.$s_PC_BIG90-105;

          border: var.$s_PC_BIG15-17 solid whitesmoke;
          border-top: var.$s_PC_BIG15-17 solid var.$epesta;

          margin: var.$s_PC_BIG21-26;
        }

        .res_form_cont {
          h6 {
            font-size: var.$s_PC_BIG17-19;
          }
          section {
            margin: var.$s_PC_BIG30-40 var.$s_PC_BIG55-70;
            h3 {
              font-size: var.$s_PC_BIG17-19;
            }
            h1 {
              font-size: var.$s_PC_BIG35-45;
            }
          }
          form {
            margin: 0 var.$s_PC_BIG55-70;

            .checkinout,
            .emrMbiemr {
              margin-bottom: var.$s_PC_BIG15-17;
              > div {
                .qs-datepicker-container {
                  font-size: var.$s_PC_BIG17-19;
                }
                label {
                  font-size: var.$s_PC_BIG19-24;
                }
                input {
                  width: 20vw;
                  font-size: var.$s_PC_BIG19-24;
                }
              }
            }
            .email,
            .tel {
              margin-bottom: var.$s_PC_BIG15-17;
              label {
                font-size: var.$s_PC_BIG19-24;
              }
              input {
                width: 20vw;
                font-size: var.$s_PC_BIG19-24;
              }
            }
            .femijterritur {
              margin-bottom: var.$s_PC_BIG15-17;
              div {
                label {
                  font-size: var.$s_PC_BIG19-24;
                }
                select {
                  width: 20vw;
                  font-size: var.$s_PC_BIG19-24;
                }
              }
            }
            .llojiDhomes {
              margin-bottom: var.$s_PC_BIG15-17;
              div:first-child {
                label {
                  font-size: var.$s_PC_BIG19-24;
                }
                select {
                  width: 20vw;
                  font-size: var.$s_PC_BIG19-24;
                }
              }
              .cmimiTotal {
                margin: var.$s_PC_BIG15-17;
                h2,
                h4 {
                  font-size: var.$s_PC_BIG23-27;
                }
                h4 {
                  margin-left: 26em;
                }
              }
            }
            .butons {
              margin-bottom: var.$s_PC_BIG30-40;
              button {
                font-size: var.$s_PC_BIG23-27;
              }
            }
          }
        }
        .ldr {
          width: var.$s_PC_BIG90-105;
          border: var.$s_PC_BIG15-17 solid whitesmoke;
          border-top: var.$s_PC_BIG15-17 solid var.$epesta;
          margin: var.$s_PC_BIG21-26;
        }
      }
    }
  }
}
