@use "../var" as var;
@use "../mixin" as mixs;
@use "../animations" as anim;

@mixin pcHeader {
  @include mixs.for-size(desktop-up) {
    .logo {
      width: 10%;
      img {
        width: 100%;
      }
      svg {
        display: none;
      }
    }
    nav {
      //   width: 50%;
      display: flex;

      ul {
        margin: 0;
        width: 100%;
        justify-content: center;
        li {
          @include mixs.font(
            var.$font-hind,
            var.$s_PC16-21,
            500,
            black,
            0,
            0 2em 0 0
          );
          cursor: pointer;
          button {
            @include mixs.font(
              var.$font-hind,
              var.$s_PC14-19,
              500,
              var.$epesta,
              0.4em 0.9em,
              0
            );
            cursor: pointer;
          }
        }
      }
    }
  }
}

@mixin pcMain {
  @include mixs.for-size(desktop-up) {
    .main-section {
      margin-top: var.$s_PC60-90; //60px
      h1 {
        font-size: var.$s_PC75-90;
      }
      p {
        font-size: var.$s_PC20-24;
        width: 50%;
      }
    }
    form {
      padding: 0 var.$s_PC10-20;

      top: var.$s_PC530-820;

      input {
        width: 15%;
        @include mixs.font(
          var.$font-taviraj,
          var.$s_PC16-21,
          500,
          black,
          0.2em,
          0
        );
      }

      select {
        @include mixs.font(
          var.$font-taviraj,
          var.$s_PC16-21,
          500,
          black,
          0.2em,
          0
        );
      }
      .dzpozic {
        width: 15%;
        font-size: var.$s_PC16-21;
        button {
          width: 100%;
          @include mixs.button(
            $fs: var.$s_PC16-21,
            $fem: 0.25em 0,
            $fmar: 0,
            $f-bcl: black,
            $hovcl: var.$epesta,
            $brdius: 0.3em
          );
        }
      }
    }
    .about-cont {
      margin-top: var.$s_PC120-180;
      article {
        h1 {
          font-size: var.$s_PC35-42;
          padding-top: 0;
        }
        p {
          font-size: var.$s_PC17-21;
        }
        button {
          font-size: var.$s_PC19-23;
        }
      }
      div {
        width: 40%;
        order: 2;
        align-self: flex-start;
        img {
          width: 70%;
          margin-top: 0;
        }
      }
    }
    .rooms-cont {
      .rooms_txtDiv {
        margin-top: var.$s_PC50-80;
        h1 {
          font-size: var.$s_PC35-42;
        }
        h3 {
          font-size: var.$s_PC25-29;
        }
      }
      .rooms_imgDiv {
        margin-bottom: var.$s_PC50-80;
        justify-content: center;
        gap: 3%;
        figure {
          width: 25%;
          .img {
            .rooms_info {
              .txt_btn {
                aspect-ratio: 1;
                .rms_info_text {
                  h1 {
                    font-size: var.$s_PC25-29;
                  }
                  p {
                    font-size: var.$s_PC13-15;
                  }
                  h3 {
                    font-size: var.$s_PC18-21;
                  }
                }
                .btn_div {
                  button {
                    font-size: var.$s_PC18-21;
                  }
                }
              }
            }
          }
          opacity: 0;
        }
        .addRight {
          //dy anash
          animation: treshjaAnash 1s forwards;
        }
        .addLeft {
          // qendra
          animation: treshjaMes 1s forwards;
        }
      }
    }
    .sherbimet-cont {
      .sherbimet_text {
        margin-top: var.$s_PC50-80;
        h1 {
          font-size: var.$s_PC35-42;
        }
        h3 {
          font-size: var.$s_PC25-29;
        }
      }
      .sherbimet_info {
        > img {
          width: 35vw;
        }
        .sherbimet_detail {
          margin-left: var.$s_PC20-26;
          button {
            font-size: var.$s_PC10-12;
            width: var.$s_PC65-90;
          }
          h1 {
            font-size: var.$s_PC19-23;
          }
          p {
            font-size: var.$s_PC14-17;
            margin-left: 2.1em;
          }
        }
      }
      .sherbimet_number_info {
        margin-top: var.$s_PC50-80;
        section {
          div:first-child {
            margin-top: var.$s_PC40-55;
          }
          div {
            width: 23%;
            margin: var.$s_PC40-55 0;
            h1 {
              font-size: var.$s_PC35-42;
              opacity: 0;
            }
            .shfaq {
              opacity: 1;
            }
            p {
              font-size: var.$s_PC25-29;
            }
          }
        }
      }
    }
    .caruselCont {
      margin-top: var.$s_PC50-80;
      .carusel_title {
        h1 {
          font-size: var.$s_PC35-42;
        }
        h3 {
          margin-top: 0;
          font-size: var.$s_PC25-29;
        }
      }
      .imazhet-tab-mode {
        justify-content: center;
        gap: 3%;
        img {
          width: 20%;
          margin-bottom: var.$s_PC30-40;
        }
        .addTresh {
          animation: treshjaMesDy 1s forwards;
        }
      }
    }
    .cmimi-cont {
      padding: var.$s_PC50-80 0 var.$s_PC50-80 0;
      .cmimi_txt {
        h1 {
          font-size: var.$s_PC40-55;
        }
        h3 {
          margin-top: 0;
          font-size: var.$s_PC22-28;
        }
      }
      .cmimi_cards {
        .card_cont {
          width: 25%;
          div:first-child {
            h2 {
              font-size: var.$s_PC25-29;
            }
            h4 {
              font-size: var.$s_PC17-21;
            }
          }
          div:last-child {
            h1 {
              font-size: var.$s_PC23-27;
            }
            button {
              @include mixs.button(
                $fs: var.$s_PC22-26,

                $fem: 0.2em 2em,
                $fmar: 0 0 1.5em 0,
                $f-bcl: black,
                $hovcl: var.$epesta,
                $brdius: 50em
              );
            }
          }
        }
      }
    }
    .trustedus {
      overflow: hidden;
      width: 100%;
      .slide {
        img {
          width: 15vw;
        }
      }
    }
  }
}

@mixin pcFooter {
  @include mixs.for-size(desktop-up) {
    margin-top: 0; //var.$s_PC50-80
    .fot_dvup {
      justify-content: flex-start;
      gap: 3%;
      .location,
      .foot_nav,
      .more_links,
      .social {
        width: auto;
        h1 {
          font-size: var.$s_PC25-29;
        }
      }
      .location {
        width: 22%;
        margin-left: var.$s_PC13-15;
      }
      .location {
        p {
          font-size: var.$s_PC15-17;
          cursor: pointer;
        }
        h3 {
          font-size: var.$s_PC15-17;
          cursor: pointer;
          svg {
            width: var.$s_PC15-17;
          }
        }
      }
      .foot_nav,
      .more_links {
        ul {
          li {
            font-size: var.$s_PC15-17;
            cursor: pointer;
          }
        }
      }
      .social {
        .social_ikons {
          svg {
            width: var.$s_PC22-26;
            cursor: pointer;
          }
        }
      }
    }
    .foot_dvdown {
      margin-top: var.$s_PC50-80;
      h3 {
        font-size: var.$s_PC15-17;
      }
    }
  }
}

@include anim.scrollPc();

@mixin minPcBody {
  @include mixs.for-size(desktop-up) {
    #modal {
      font-size: var.$s_PC16-21;
      .container {
        .loader {
          width: var.$s_PC75-90;

          border: var.$s_PC13-15 solid whitesmoke;
          border-top: var.$s_PC13-15 solid var.$epesta;

          margin: var.$s_PC30-40;
        }
        .errorMsg {
          h3 {
            font-size: var.$s_PC22-30;
          }
          button {
            font-size: var.$s_PC22-30;
          }
        }
        .res_form_cont {
          h6 {
            font-size: var.$s_PC13-17;
          }
          section {
            margin: var.$s_PC25-35 var.$s_PC50-65;
            h3 {
              font-size: var.$s_PC13-17;
            }
            h1 {
              font-size: var.$s_PC30-40;
            }
          }
          form {
            margin: 0 var.$s_PC50-65;

            .checkinout,
            .emrMbiemr {
              margin-bottom: var.$s_PC10-15;
              > div {
                .qs-datepicker-container {
                  font-size: var.$s_PC15-17;
                }
                label {
                  font-size: var.$s_PC18-23;
                }
                input {
                  width: 20vw;
                  font-size: var.$s_PC18-23;
                }
              }
            }
            .email,
            .tel {
              margin-bottom: var.$s_PC10-15;
              label {
                font-size: var.$s_PC18-23;
              }
              input {
                width: 20vw;
                font-size: var.$s_PC18-23;
              }
            }
            .femijterritur {
              margin-bottom: var.$s_PC10-15;
              div {
                label {
                  font-size: var.$s_PC18-23;
                }
                select {
                  width: 20vw;
                  font-size: var.$s_PC18-23;
                }
              }
            }
            .llojiDhomes {
              margin-bottom: var.$s_PC10-15;
              div:first-child {
                label {
                  font-size: var.$s_PC18-23;
                }
                select {
                  width: 20vw;
                  font-size: var.$s_PC18-23;
                }
              }
              .cmimiTotal {
                margin: var.$s_PC10-15 0;
                h2,
                h4 {
                  font-size: var.$s_PC22-27;
                }
                h4 {
                  margin-left: 17em;
                }
              }
            }
            .butons {
              margin-bottom: var.$s_PC25-35;
              button {
                font-size: var.$s_PC22-27;
              }
            }
          }
        }
        .ldr {
          width: var.$s_PC75-90;

          border: var.$s_PC13-15 solid whitesmoke;
          border-top: var.$s_PC13-15 solid var.$epesta;

          margin: var.$s_PC30-40;
        }
        .aftr_ldr {
          h3 {
            font-size: var.$s_PC35-45;

            span {
              font-size: var.$s_PC17-21;
            }
          }
          button {
            font-size: var.$s_PC22-30;
          }
        }
      }
    }
  }
}
